.app {
  text-align: center;
}


.query-button{
  color: #ffffff;
  background: #5facb6;
  border: 0 none;
  padding: 8px;
  font-size: 14px;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s, box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  border-radius: 4px;
  margin-left: 7px;
  cursor: pointer;
}

.layout-top {
  padding-top: 0px!important;
  padding-bottom: 0px!important;
}

@media screen and (max-width: 1024px) {
  .layout-footer {
    padding: 0px;
  }

  .footer-grid {
    margin-right: 0px;
    margin-left: 0px;
  }
}

.layout-footer .p-col {
  padding: 20px 0px 0px;
}

.footer-divider{
  background: #fff;
  margin: 10px 0!important;
}

.footer-menu {
  color: #fff;
  padding-right: 10px;
  cursor: pointer;
}

.border-right{
  border-right: 1px solid #fff;
  margin-right: 10px;
}

.license-icons{
  color: #fff;
  font-size: 23px;
  margin-left: 10px;
}

.logo-footer{
  height: 35px;
  vertical-align: middle;
}

.footer-licenses{
  display: table-footer-group;
}

.privacy-container{
  padding:10px;
  border:1px solid black;
}

.modal-paragraph{
  text-align: justify;
  text-justify: inter-word;
}

.footer-anchor-link{
  color: #0595b6;
  font-weight: bold;
}

.p-dialog .p-dialog-header {
  background-color: #054769;
}

.p-dialog .p-dialog-header .p-dialog-title {
  color: white;
  font-size: 22px;
}

.p-dialog .p-dialog-header .p-dialog-header-icon {
  color: white;
}


.p-dialog .p-dialog-content {
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;

  background-color: #f4f4f7;
}

.analytics-card {
  margin-top: 16px;
  margin-bottom: 0px;
  margin-left: 4px;
  margin-right: 4px;
}

.p-tree {
  padding: 0rem!important;
}
.p-tree .p-tree-container .p-treenode {
  padding: 0rem!important;
}
.p-tree .p-tree-container .p-treenode .p-treenode-content {
  padding: 0rem!important;
}

.p-card .p-card-body {
  padding-top: 8px;
  padding-bottom: 0px;
}